.about-main {
  margin: 50px 0;
}

.about-subsection {
  margin: 50px 0;
}

.about-title {
  text-align: center;
}

.about-title-icon {
  padding: 15px;
}

.about-image {
  padding: 35px;
  transition: all .2s;
}

.about-image:hover {
  padding: 30px;
}

.about-panel {
  transition: all .3s;
}

.about-panel:hover {
  transform: scale(1.03);
}
