* {
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.landing-page-container {
  position: relative;
  top: 50px;
}

.carousel {
  width: 900px;
  margin: 0 auto;
}

.about-container {
  position: relative;
  top: 50px;
}
