* {
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  position: relative;
  top: 50px
}

.button {
  background: rgba(0, 0, 0, .3);
  margin: 40px 0 20px 0;
  padding: 10px 30px;
  font-size: 16px;
  font-weight: 600;
  border-radius: 3px;
  color: white;
  transition: all .6s;
}

.button:hover {
  background: white;
  color: rgba(0, 0, 0, .7);
}

.article-button {
  background: transparent;
  padding: 8px 20px;
  font-size: 14px;
  border-radius: 3px;
  transition: all .8s;
}

.article-button:hover {
  color: white;
  background: rgba(0, 0, 0, .6);
}

.overlay:before {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 100%;
  min-height: 600px;
  display: block;
  z-index: 0;
  background-color: rgba(0, 0, 0, .25);
}

.carousel-image {
  max-height: 600px;
  width: 100%;
  object-fit: cover;
}

.carousel-title {
  font-size: 35px;
}

.carousel-text {
  font-size: 18px;
}

.main-article-container {
  padding: 60px 0;
}

.article-row {
  padding: 15px 0
}

.card-link:hover {
  text-decoration: none;
}

.card {
  border-radius: 5px;
  color: black;
  background-color: white;
  box-shadow: 0 5px 15px rgba(0, 0, 0, .2);
  transition: all .2s;
}

.card:hover {
  transform: scale(1.01);
}

.card-image {
  border-radius: 5px 5px 0 0;
}

.card-body {
  padding: 10px 20px 20px 20px;
}

.card-title {
  font-size: 20px;
}

.card-date {
  font-size: 15px;
}

.learn-container {
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  height: 400px;
  display: flex;
  align-content: center;
}

.learn-contents {
  text-align: center;
  color: white;
  width: 55%;
  margin: auto;
}

#instagram-feed {
  text-align: center;
  margin: 0 auto 80px auto;
  max-width: 1000px;
  min-height: 0;
  padding: 0;
}

.instagram-feed-title {
  padding: 10px 0 20px 0
}

#instafeed img {
  height: 190px;
  margin: 5px;
  width: 190px;
}

.footer-container {
  padding: 40px 0;
  border-top: 1px solid rgba(0, 0, 0, .2);
}

.footer-information * {
  margin-top: 5px;
  color: black;
}

.footer-text {
  padding-left: 20px;
}

.footer-links {
  list-style: none;
}

.contact-link:hover {
  cursor: pointer;
}

.footer-links *:hover {
  text-decoration: none;
}

.footer-copyright {
  color: rgba(0, 0, 0, .6);
  margin: 50px 0 20px 0;
}

.login-page {
  margin: 50px 200px;
}

.login-button {
  margin-top: 20px;
  padding: 5px 10px;
  border-radius: 5px;
}

.login-button:hover {
  cursor: pointer;
  background-color: silver;
}

.form-error {
  color: red;
  padding-left: 10px;
}
